#
# ~/.gitignore
#

# This is my home directory so I would like to ignore
# everything except specific configuration files.
*

# #######################################
# FILES I WANT TO TRACK
# #######################################

# This repo
!.gitignore
!README.md

# Shell
!.aliases.sh

# Git
!.gitconfig
!.gitignore_global

# VS Code settings.json on MacOS
!Library
!Library/Application\ Support
!Library/Application\ Support/Code
!Library/Application\ Support/Code/User
!Library/Application\ Support/Code/User/settings.json

# #######################################
# #######################################

# Make sure to definitely ignore sesitive files
.ssh/*